<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>{{ header() }}</mat-card-title>
    <button matIconButton>
      <mat-icon fontIcon="close" />
    </button>
  </mat-card-header>
  <mat-card-content class="card-content">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" [control]="form.title">
      @let isTitleTouched = form.title().touched();
      @let titleErrors = form.title().errors();
      @if (isTitleTouched && titleErrors.length) {
        @for(error of titleErrors; track $index) {
          <mat-error>{{ error?.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" [control]="form.description">
      @let isDescTouched = form.title().touched();
      @let descErrors = form.title().errors();
      @if (isDescTouched && descErrors.length) {
        @for(error of descErrors; track $index) {
          <mat-error>{{ error?.message }}</mat-error>
        }
      }
    </mat-form-field>

    @for (condition of form.conditions; track $index; let i = $index; let first = $first) {
      <div class="segment-condition">
        <div class="header">
          <h4>Condition {{i + 1}}</h4>
          @if (!first && condition.joinOp) {
            <mat-form-field>
              <mat-select [control]="condition.joinOp">
                @for (join of joins; track $index) {
                  <mat-option [value]="join.key">
                    {{ join.display | titlecase }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button matIconButton (click)="removeCondition(i)">
              <mat-icon fontIcon="delete" />
            </button>
          }
        </div>
        <mat-form-field>
          <mat-label>Parameter</mat-label>
          <mat-select [control]="condition.parameter">
            @for (parameter of parameters; track $index) {
              <mat-option [value]="parameter">
                {{ parameter }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Operator</mat-label>
          <mat-select [control]="condition.operator">
            @for (operator of operators; track $index) {
              <mat-option [value]="operator.key">
                {{ operator.display }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Value</mat-label>
          <input matInput placeholder="Description" [control]="condition.value">
        </mat-form-field>
      </div>
    }

    @let condErrors = form.conditions().errors();
    @if (condErrors.length) {
      @for(error of condErrors; track $index) {
        <mat-error>{{ error?.message }}</mat-error>
      }
    }

    @if (form.conditions.length < 10) {
      <button class="segment-condition-action" matIconButton (click)="addCondition()">
        <mat-icon fontIcon="add" />
      </button>
    }
    <div class="segment-info"></div>
    <div class="segment-actions"></div>

  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button matButton color="primary" (click)="save()">
      <mat-icon fontIcon="save" />
      Save
    </button>

    <button matButton (click)="cancel()">
      <mat-icon fontIcon="close" />
      Close
    </button>
  </mat-card-actions>
</mat-card>
<pre class="value">{{ form().value() | json }}</pre>

